<div>
    <%= link_to 'Blog On Rails', home_path, class: 'nav-item' %>
</div>

<div>
    <%= link_to 'Home', posts_path, class: 'nav-item' %>
    <%= link_to 'New Post', new_post_path, class: 'nav-item' %>
</div>


