<div class="d-flex justify-content-between outer_nav_container">
    <div>
        <%= link_to 'Blog On Rails', home_path, class: 'nav-item' %>
    </div>

    <div class="d-flex justify-content-end inner_nav_container">
        <div>
            <%= link_to 'Home', posts_path, class: 'nav-item' %>
        </div>
        <div>
            <%= link_to 'New Post', new_post_path, class: 'nav-item' %>
        </div>
    </div>
</div>

